@media screen and (max-width: 600px) {
  h1 {
    font-size: 22px !important;
  }
  h2,
  h3,
  h4 {
    font-size: 20px !important;
  }
  p {
    font-size: 14px !important;
  }
  .btn {
    font-size: 16px !important;
  }
  .my_menu {
    display: none;
  }
  nav {
    padding: 15px 30px;
  }
  .bar {
    display: block;
  }
  .banner {
    margin: 15px 30px;
  }
  .banner_content {
    padding: 30px;
  }
  .banner_content br {
    display: none;
  }
  .form,
  .popular_tours,
  .our_services_content,
  .newsletter_area, 
  .perfect_place
  {
    flex-direction: column;
  }
  .form input {
    width: 100%;
  }
  .input {
    width: 100%;
    padding-right: 30px;
  }
  .input i {
    right: 50px;
  }
  .popular_tours {
    padding: 30px;
  }
  .popular_tours_img img {
    width: 100%;
  }
  .destination_area {
    padding: 30px;
  }
  .destination_area p br {
    display: none;
  }
  .d-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .d-grid img {
    width: 100%;
  }
  .our_services,
  .why_choose_us,
  .newsletter_area,
  .footer_area,
  .deals_discounts,
  .perfect_place
  {
    padding: 30px;
  }
  .why_choose_us p br,
  .footer_area p br {
    display: none;
  }
  .why_choose_us_con {
    grid-template-columns: 1fr;
  }
  .item-3 {
    left: 0;
  }
  .newsletter_content {
    width: 100%;
  }
  .deals_discounts_content {
    flex-direction: column-reverse;
    height: 500px;
  }
  .deals_discounts_item2 {
    width: 87%;
  }
  .deals_discounts_item2 p span {
    display: none;
  }
  .deals_discounts_item2 ul {
    flex-wrap: wrap;
  }
  .deals_discounts_item2 p span {
    display: none;
  }
  .img_cart {
    bottom: 38px;
  }
  .img_cart h5 {
    font-size: 15px;
  }
  .perfect_place_content{
    width: 100%;
  }
  .perfect_place_img{
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {

  
}
