@media screen and (max-width: 600px) {
  .my_menu {
    display: none;
  }
  nav {
    padding: 30px;
  }
  .bar {
    display: block;
  }
  .banner {
    margin: 30px;
  }
  .banner_content {
    padding: 30px;
  }
  .banner_content br {
    display: none;
  }
  .form,
  .popular_tours,
  .our_services_content,
  .newsletter_area
  {
    flex-direction: column;
  }
  .form input {
    width: 100%;
  }
  .input {
    width: 100%;
    padding: 0 30px;
  }
  .input i {
    right: 50px;
  }
  .popular_tours {
    padding: 24px;
  }

  .destination_area {
    padding: 30px;
  }
  .destination_area p br {
    display: none;
  }
  .d-grid {
    grid-template-columns:  1fr;
    width: 100%;
  }
  .d-grid img{
    width: 100%;
  }
  .our_services ,
  .why_choose_us,
  .newsletter_area,
  .footer_area 
  {
    padding: 30px;
}
.why_choose_us p,
.footer_area p
 br{
  display: none;
}
.why_choose_us_con {
  grid-template-columns:1fr;
}
.item-3{
  left: 0;
}
.newsletter_content{
  width: 100%;
}
}
@media screen and (min-width: 600px) and (max-width: 992px) {
}
