@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Manrope:wght@700&family=Poppins:wght@400;500;600;700;900&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-primary: "Poppins", sans-serif;
  --font-Inter: "Inter", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
  --font-Manrope: "Manrope", sans-serif;
  --primary-color: #3a3a3a;
  --secondary-color: #e02c6d;
}
body {
  font-family: var(--font-primary);
}
.d-flex {
  display: flex;
}
.btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 25px;
  background: var(--secondary-color);
  border-radius: 41px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* header */

