@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-primary: "Mulish", sans-serif;
  --primary-color: #ff5400;
  --secondary-color: #131318;
  --color-1: #424247;
}
body {
  font-family: var(--font-primary);
}
.d-flex {
  display: flex;
}
.btn {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 15px 25px;
  background: var(--primary-color);
  border: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.section_title {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 800;
}
/* header */

/* nav */
nav {
  padding: 30px 130px;
}
.logo {
  align-items: center;
  color: var(--secondary-color);
  font-size: 36px;
  font-weight: 800;
}
.logo img {
  padding-right: 10px;
}
.logo span {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 800;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_menu {
  display: flex;
  gap: 44px;
}
.menu_item a {
  color: var(--color-1);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.active {
  color: var(--primary-color) !important;
  font-weight: 700 !important;
}
.menu_item a:hover {
  color: var(--primary-color);
}
.bar {
  display: none;
  font-size: 30px;
}
/* nav end*/

/* banner */
.banner {
  margin: 30px 135px;
  background: url("../Images/banner.png") no-repeat center;
  background-size: cover;
  text-align: center;
  position: relative;
  border-radius: 16px;
  z-index: 2;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  z-index: -1;
}
.banner_content {
  padding: 130px;
}
.banner_content h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-bottom: 24px;
}
.banner_content p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 48px;
}
.form {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.form input {
  padding-left: 20px;
  width: 174px;
  height: 42px;
  outline: 0;
  border-radius: 8px;
  border: 0;
  position: relative;
  color: var(--color-1);
}
.form input::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f107";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}
.input {
  position: relative;
}
.input i {
  color: var(--color-1);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.form .btn {
  padding: 10px 35px;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
}
.input-btn {
  width: 100%;
  padding: 0 30px;
}

/* banner end */

/* popular_tours */
.popular_tours {
  padding: 100px 135px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.popular_tours_content p {
  padding: 24px 0;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.popular_tours_content ul {
  padding-left: 20px;
}
.popular_tours_content li {
  padding-top: 10px;
  list-style: disc;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.popular_tours_content li:nth-child(1) {
  padding-top: 0;
}

.popular_tours_content .btn {
  border-radius: 8px;
}

/* popular_tours end */

/* destination_area */

.destination_area {
  text-align: center;
  padding: 0px 135px;
}
.destination_area .section_title {
  padding-bottom: 24px;
}
.destination_area p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.destination_content {
  padding: 50px 0;
}
.d-grid {
  display: grid;
  gap: 24px;
}
.destination_items-1 {
  grid-template-columns: repeat(2, 1fr);
}
.destination_items-2 {
  grid-template-columns: repeat(3, 374px 474px 274px);
  padding: 24px 0;
}

.destination_items-3 {
  grid-template-columns: repeat(2, 473px 1fr);
}
.destination_content div {
  position: relative;
}
.destination_content div h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* destination_area end */

/* our_services */
.our_services {
  padding: 80px 135px;
  text-align: center;
}
.our_services_content {
  display: flex;
  gap: 24px;
}

.our_services_items {
  margin-top: 50px;
  padding: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.our_services_items h3 {
  padding: 10px 0;
  font-weight: 800;
  font-size: 24px;
}
.our_services_items p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* our_services end */

/* why_choose_us */
.why_choose_us {
  padding: 0 135px;
  text-align: center;
}
.why_choose_us p {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 20px 0;
}
.why_choose_us_con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 30px;
  padding-bottom: 50px;
}
.why_choose_us_items {
  padding: 30px;
  text-align: left;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.why_choose_us_items h3 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 800;
  padding-top: 20px;
}
.why_choose_us_items p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.item-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.item-3 {
  position: relative;
  bottom: 0;
  left: 50%;
}
/* why_choose_us end */

/* newsletter_area */
.newsletter_area {
  padding: 50px 135px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.newsletter_content h2 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 800;
  padding-bottom: 10px;
}
.newsletter_content {
  border-radius: 8px;
  padding: 30px;
  border: 1px solid var(--primary-color);
}
.newsletter_content hr {
  background: rgba(19, 19, 24, 0.05);
}
.newsletter_content p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 20px;
}
.newsletter_content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.newsletter_content input::placeholder {
  color: rgba(19, 19, 24, 0.3);
}
.newsletter_content input {
  color: var(--color-1);
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.newsletter_content input[type="submit"] {
  color: #fff;
  background: var(--primary-color);
  font-size: 20px;
  font-weight: 800;
}
/* newsletter_area end */
